<header>
  <a href="./">
    <h1 id='header-link'>
      Parking App
    </h1>
  </a>
  <nav id='menu'>
    <ul>
      <li><a href="./">Menu</a></li>
      <li><a href="./">Menu</a></li>
      <li><a href="./">Menu</a></li>
      <li><a href="./">Menu</a></li>
    </ul>
  </nav>
</header>
