<div class="navbar">
  <a href="home" class="active">Home</a>
  <a href="find-space">Find A Space</a>
  <a href="current-space">Current Space</a>
  <a href="account-info">Account Info</a>
  <a href="app-settings">App Settings</a>

  <!-- <a href="#" class="right">Link</a> -->
</div>
