{{> header}}

{{> menu}}

<div class="form">
  <h1> Account Info <h1>

      <img src={{img_url}} alt="Account Image">

      <p>{{username}}</p>

      <p> Distance preference </p>

      <p> Timer preference </p>

      Edit Account Info (TBD)
      <p> (Not functional yet) </p>
      <div class="btn">
        <button type="button" name="logoutBtn">Logout</button>
      </div>
</div>

{{> footer}}
