{{> header}}

{{> menu}}

<div class="form">
  <h1> Account Info <h1>

      <img src={{img_url}} alt="Account Image">

      <p>{{username}}</p>

      <p> Distance preference </p>

      <p> Timer preference </p>

      Edit Account Info?

</div>

{{> footer}}
