{{> header}}

{{> menu}}

<div class="findspacebody">
  <h1> Find a Space <h1>
    <p> Here would be a search bar that would link to the map API (TBD) </p>
    <form>
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

</div>


{{> footer}}
