{{> header}}

<div class="row" style="background-color:#1abc9c;">
  <a href="find-space">Find A Space</a>
  <p>Find a parking space near you.</p>
</div>

<div class="row" style="background-color:#aaa;">
  <a href="#">Current Space</a>
  <p>View or edit a current parking space. (Not a valid option for a user without a parking space.) </p>
</div>

<div class="row" style="background-color:#e3195c;">
  <a href="account-info">Account Info</a>
  <p>View or edit account settings.</p>
</div>

<div class="row" style="background-color:#1974e3;">
  <a href="app-settings">App Settings</a>
  <p>View or edit app settings.</p>
</div>

{{> footer}}
